@import 'react-day-picker/dist/style.css';

.rdp {
  --rdp-outline: 0;
  --rdp-accent-color: transparent;
  --rdp-accent-background-color: transparent;
}

.rdp-selected .rdp-day_button {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
